@charset "UTF-8";
h1{
  color: red;
  font-size: 60pt;
}

h2 {
    color:red;
    font-size: 30pt;
  }

h3{
    color: green;
    font-size: 45pt;
}

h4{
  color: green;
  font-size: 45pt;
}

h5{
  color: green;
  font-size: 45pt;
}

h6{
  color: green;
  font-size: 45pt;
}

h7{
  color: green;
  font-size: 45pt;
  font-weight: bold;
}

h8{
  color: green;
  font-size: 45pt;
  font-weight: bold;
}

h9{
  color: green;
  font-size: 45pt;
  font-weight: bold;
}

h10{
  color: green;
  font-size: 45pt;
  font-weight: bold;
}

h11{
  color: green;
  font-size: 45pt;
  font-weight: bold;
}

h12{
  color: green;
  font-size: 45pt;
  font-weight: bold;
}

h13{
  color: green;
  font-size: 45pt;
  font-weight: bold;
}
