@charset "UTF-8";
h1{
  color: red;
  font-size: 60pt;
}

h2 {
    color:red;
    font-size: 30pt;
  }

h3{
    color: rgb(207, 233, 59);
    font-size: 45pt;
}

h4{
  color: blue;
  font-size: 45pt;
}

h5{
  color: orange;
  font-size: 45pt;
}

h6{
  color: rgb(198, 80, 202);
  font-size: 45pt;
}

h7{
  color: rgb(252, 236, 14);
  font-size: 45pt;
  font-weight: bold;
}

h8{
  color: rgb(39, 187, 143);
  font-size: 45pt;
  font-weight: bold;
}

h9{
  color: rgb(22, 239, 255);
  font-size: 45pt;
  font-weight: bold;
}

h10{
  color: rgb(216, 80, 80);
  font-size: 45pt;
  font-weight: bold;
}

h11{
  color: rgb(82, 250, 49);
  font-size: 45pt;
  font-weight: bold;
}

h12{
  color: rgb(210, 33, 216);
  font-size: 45pt;
  font-weight: bold;
}

h13{
  color: rgb(116, 207, 116);
  font-size: 45pt;
  font-weight: bold;
}

h14{
  color: rgb(22, 121, 235);
  font-size: 45pt;
  font-weight: bold;
}

p{
  color: green;
  font-size: 20pt;
  font-weight: bold; 
}